.widgets_container
  .new_video_vidget_cont
    .widget_header.clearfix
      .container
        a(href="https://www.youtube.com/user/gorodvitebskby1")
          img(src="/img/vidget_icon_youtube.png")
          .header_title ИНТЕРНЕТ-ТВ ГОРОДСКОГО ПОРТАЛА
        .show_more
          a(href="https://www.youtube.com/user/gorodvitebskby1" target="_blank") Смотреть архив видеозаписей

    .widget_body
      .container
        .body_pad
          .widget_body_in.owl-carousel.owl-theme#video-carusel

              each video in videos
                .widget_item_container
                  a(href="http://www.youtube.com/watch?v=" + video.snippet.resourceId.videoId target="_blank")
                    .widget_item
                      .img
                        img(src=video.snippet.thumbnails.medium.url)
                        .play_button
                      .title= video.snippet.title
